
  <% @apts.each do |apt| %>
  <div class="row">
   <div class="col-md-6">
    <td><p><%= apt.price %> </p></td>
    <td><p>Bedrooms: <%= apt.bedrooms %> </p></td>
    <td><p>Bathrooms: <%= apt.bathrooms %> </p></td>
    <td><p><%= apt.region %> </p></td>
    <td><p><%= apt.street %> </p></td>
    <td><p><%= apt.city %> </p></td>
    <td><p><%= apt.state %> </p></td>
    <td><p><%= apt.zipcode %> </p></td>
    <td><p><%= apt.longitude %>/<%= apt.latitude %> </p></td>
  </div>

  <div class="col-md-6">
    <img src="<%= apt.photo %>" style="width: 200px; height: 200px"/>

    <!-- Renters can submit an application to put "Application Pending" on  -->
    <% if current_user && current_user.is_a_broker == false %>

      <%= link_to "Submit an Application" %> <br/>

      <%= link_to "Favorite" %>

    <% end %>

    <% if current_user && current_user.is_a_broker %> <br/>

      <%= link_to "Update Listing", edit_apartment_path(apt) %> <br/>

      <%= link_to "Delete", apartment_path(apt), method: "delete" %>

    <% end %>
  </div>



</div>
<hr/>
<% end %>

