<img src="<%= @apt.photo %>" style="width: 200px; height: 200px"/>
<p><%= @apt.price %> </p>
<p>Bedrooms: <%= @apt.bedrooms %> </p>
<p>Bathrooms: <%= @apt.bathrooms %> </p>
<p><%= @apt.region %> </p>
<p><%= @apt.street %> </p>
<p><%= @apt.city %> </p>
<p><%= @apt.state %> </p>
<p><%= @apt.zipcode %> </p>
<p><%= @apt.longitude %>/<%= @apt.latitude %> </p>
